.dashboard {
  text-align: center;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-menu {
    margin: 40px;
  }

  &-link {
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    background-color: #435A60;
    color: white;
    border-radius: 10px;
  }
}

@media screen and (max-width: 450px) {
  .dashboard {
    margin-top: 40px;

    &-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 1px;
    }
  }
}
